.transaction-container {
  padding: 0px 20px;
  max-width: 400px;
}

.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

button {
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  background: #bdc3c7;
  cursor: not-allowed;
}